# Regresja

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

Rozważmy zbiór Boston

In [13]:
boston = datasets.load_boston()
# print description
# print(boston.DESCR)

In [14]:
print(boston.keys())
print(boston.data.shape)
print(boston.feature_names)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
(506, 13)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [15]:
# get the data
boston_X = boston.data
boston_Y = boston.target

# Split the data into training/testing sets
boston_X_train = boston_X[:-50]
boston_X_test = boston_X[-50:]
 
# Split the targets into training/testing sets
boston_y_train = boston_Y[:-50]
boston_y_test = boston_Y[-50:]

In [16]:
bos=pd.DataFrame(boston.data[:-50])
bos.columns = boston.feature_names
bos['PRICE']=boston.target[:-50]
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [17]:
bos1=pd.DataFrame(boston_X[-50:])
bos1.columns = boston.feature_names
bos1['PRICE']=boston.target[-50:]
bos1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,4.66883,0.0,18.1,0.0,0.713,5.976,87.9,2.5806,24.0,666.0,20.2,10.48,19.01,12.7
1,8.20058,0.0,18.1,0.0,0.713,5.936,80.3,2.7792,24.0,666.0,20.2,3.50,16.94,13.5
2,7.75223,0.0,18.1,0.0,0.713,6.301,83.7,2.7831,24.0,666.0,20.2,272.21,16.23,14.9
3,6.80117,0.0,18.1,0.0,0.713,6.081,84.4,2.7175,24.0,666.0,20.2,396.90,14.70,20.0
4,4.81213,0.0,18.1,0.0,0.713,6.701,90.0,2.5975,24.0,666.0,20.2,255.23,16.42,16.4

In [24]:
model = ols("PRICE ~ CRIM + ZN + AGE +  RM*RAD*TAX + PTRATIO + np.log(LSTAT)", bos).fit()
# Print the summary
print((model.summary2()))

                 Results: Ordinary least squares
==================================================================
Model:              OLS              Adj. R-squared:     0.800
Dependent Variable: PRICE            AIC:                2625.8581
Date:               2022-04-01 10:49 BIC:                2679.4505
No. Observations:   456              Log-Likelihood:     -1299.9
Df Model:           12               F-statistic:        152.5
Df Residuals:       443              Prob (F-statistic): 7.80e-149
R-squared:          0.805            Scale:              18.038
------------------------------------------------------------------
                  Coef.  Std.Err.    t     P>|t|   [0.025   0.975]
------------------------------------------------------------------
Intercept        13.7022  15.0292   0.9117 0.3624 -15.8353 43.2396
CRIM             -0.1496   0.0304  -4.9269 0.0000  -0.2092 -0.0899
ZN               -0.0158   0.0110  -1.4334 0.1524  -0.0375  0.0059
AGE               0.0450   0.0109   4.1399 0.0000   0.0236  0.0664
RM                7.0267   2.2368   3.1414 0.0018   2.6307 11.4227
RAD              -3.0832   2.3480  -1.3131 0.1898  -7.6978  1.5314
RM:RAD            0.4519   0.3499   1.2917 0.1971  -0.2357  1.1396
TAX               0.0446   0.0403   1.1069 0.2689  -0.0346  0.1238
RM:TAX           -0.0096   0.0063  -1.5197 0.1293  -0.0221  0.0028
RAD:TAX           0.0055   0.0036   1.5421 0.1238  -0.0015  0.0125
RM:RAD:TAX       -0.0008   0.0005  -1.4364 0.1516  -0.0018  0.0003
PTRATIO          -0.6460   0.1125  -5.7426 0.0000  -0.8670 -0.4249
np.log(LSTAT)    -8.9011   0.6153 -14.4670 0.0000 -10.1103 -7.6919
------------------------------------------------------------------
Omnibus:              232.262      Durbin-Watson:         1.024
Prob(Omnibus):        0.000        Jarque-Bera (JB):      2062.557
Skew:                 2.011        Prob(JB):              0.000
Kurtosis:             12.611       Condition No.:         3579929
==================================================================
* The condition number is large (4e+06). This might indicate
strong multicollinearity or other numerical problems.

In [25]:
from sklearn import  metrics
metrics.r2_score(bos.PRICE, model.predict(bos))

0.8051199132033728

In [26]:
from sklearn import  metrics
metrics.r2_score(bos1.PRICE, model.predict(bos1))

0.04236939300310616